body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 760px), (max-width:899px) {
  #header {
    width: 100%;
    padding: 2% 3.5%;
  }
}

@media (min-width: 900px), (max-width:1023px) {
  #header {
    width: 100%;
    padding: 1% 4%;
  }
}

@media (min-width: 1024px), (max-width: 1199px) {
  #header {
    width: 100%;
    padding: 0.8% 4%;
  }
}

@media (min-width: 1200px), (max-width: ) {
  #header {
    width: 100%;
    padding: 0.8% 4%;
  }
}

@media (min-width: 1400px) {
  #header {
    width: 100%;
    padding: 0.8% 4%;
  }
}

#header {
  display: flex;
  background-color: #f9f6f7;
  box-shadow: 0px 5px 6px -1px rgba(0,0,0,0.3);
  width:100%;
}

.logoPlaceholder{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.headerPlaceholder {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.logo {
  width: 100%;
}

@media (max-width: 767px) {
  .logo {
    width: 10%;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 13%;
  }
}

@media (min-width: 900px) {
  .logo {
    width: 15%;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 13%;
  }
}

.headerLink{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.registerButton{
  margin-left: 20px;
}

/* .heroTop{
  margin-top: 10%;
} */

/* @media (min-width: 768px) {
  .heroTop{
    margin-top: 8%;
  }
}

@media (min-width: 900px) {
  .heroTop{
    margin-top: 7%;
  }
}

@media (min-width: 1024px) {
  .heroTop{
    margin-top: 5%;
  }
} */

.hero{
  width: 100%;
}


.heroImages{
  width: 100%;
}

#whyTitle {
  margin: 20vh 0 0 0;
}

#columnContainer{
  margin: 3vh 0 0 0vh; 
  padding: 0 30vh;
}

.column{
  background-color:#F5F7FA;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.57);
}

.iconAdvantage{
  max-width: 30%;
}

#cpTitle {
  margin: 20vh 0 0 0;
}

.cpIcon {
  width: 10vh;
}

#noHpPlaceholder {
  margin: 0 0 10vh 0;
}

.noHp {
  font-size: 1.5em;
}

#footer {
  width: auto;
  height: 100px;
  background-color: blue;
  padding: 0 45em;
  margin-top: 10vh;
}

.footerContent {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  flex-flow: row wrap;
  justify-content: center;
}

.footerLink {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  flex-flow: row wrap;
}

.footerLink .link {
  color: white;
}

#welcomeLogin {
  margin-top: 10vh;
  
}

.loginForm {
  margin: 0 5vh;
}

#listTable {
  padding: 0 30vh;
}